<!-- navbar -->
<div data-ng-include=" 'views/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<!--<div data-ng-include=" 'views/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
</div>-->
<!-- / menu -->

<!-- content -->
<div class="app-content" style="margin-left: 0;">
  <div ui-butterbar></div>
  <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
  <div class="app-content-body fade-in-up">
    <div ng-controller="ProjectsCtrl">
      <div class="bg-light lter b-b wrapper-md">
        <span ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
          <div ng-include="'views/formCreateProject.html'"></div>
        </script>
            </span>
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ng-click="open()">
          <i class="fa fa-plus"></i> New Project
        </button>
        <h1 class="m-n font-thin h3">Projects</h1>
      </div>

      <div class="wrapper-md">
        <div class="row">
          <div class="col-md-4" ng-repeat="project in projects">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="clearfix">
                  <a href class="pull-left thumb-md avatar b-3x m-r">
                    <img src="img/a2.jpg" alt="...">
                  </a>
                  <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                      {{project.config.name}}
                      <i class="fa fa-circle text-warning pull-right text-xs m-t-sm"></i>
                    </div>
                    <small class="text-muted">{{project.config.description}}</small>
                  </div>
                </div>
              </div>
              <div class="list-group no-radius alt">
                <a class="list-group-item" href>
                  <span class="badge bg-success">25</span>
                  <i class="fa fa-comment fa-fw text-muted"></i>
                  Messages
                </a>
                <a class="list-group-item" href>
                  <span class="badge bg-info">16</span>
                  <i class="fa fa-envelope fa-fw text-muted"></i>
                  Inbox
                </a>
                <a class="list-group-item" href>
                  <span class="badge bg-light">5</span>
                  <i class="fa fa-eye fa-fw text-muted"></i>
                  Profile visits
                </a>
                <div class="list-group-item">
                  <a href class="btn btn-addon btn-sm btn-danger m-t-xs pull-right" ng-click="delete(project)"><i class="fa fa-remove"></i> Delete</a>
                  <a href class="btn btn-addon btn-sm btn-info m-t-xs" ng-click="delete(project)"><i class="fa fa-gear"></i> Settings</a>
                  <a href class="btn btn-addon btn-sm btn-default m-t-xs" ng-click="delete(project)"><i class="fa fa-cloud-download"></i> Publish</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->

<!-- aside right -->
<div class="app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l animated fadeInRight hide">
  <div class="vbox">
    <div class="wrapper b-b b-t b-light m-b">
      <a href class="pull-right text-muted text-md" ui-toggle-class="show" target=".app-aside-right"><i class="icon-close"></i></a>
      Chat
    </div>
    <div class="row-row">
      <div class="cell">
        <div class="cell-inner padder">
          <!-- chat list -->
          <div class="m-b">
            <a href class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
            <div class="clear">
              <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                <span class="arrow left pull-up"></span>
                <p class="m-b-none">Hi John, What's up...</p>
              </div>
              <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
            </div>
          </div>
          <div class="m-b">
            <a href class="pull-right thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
            <div class="clear">
              <div class="pos-rlt wrapper-sm bg-light r m-r-sm">
                <span class="arrow right pull-up arrow-light"></span>
                <p class="m-b-none">Lorem ipsum dolor :)</p>
              </div>
              <small class="text-muted">1 minutes ago</small>
            </div>
          </div>
          <div class="m-b">
            <a href class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
            <div class="clear">
              <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                <span class="arrow left pull-up"></span>
                <p class="m-b-none">Great!</p>
              </div>
              <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i>Just Now</small>
            </div>
          </div>
          <!-- / chat list -->
        </div>
      </div>
    </div>
    <div class="wrapper m-t b-t b-light">
      <form class="m-b-none">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Say something">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">SEND</button>
            </span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- / aside right -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light" style="margin-left: 0;">
  <span class="pull-right">{{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
  Copyright &copy; 2015 {{app.copyright}}.  All rights reserved.
</div>
<!-- / footer -->

<!--<div data-ng-include=" 'views/blocks/settings.html' " class="settings panel panel-default">
</div>-->
